* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #f8f6f2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 1rem;
  height: 4rem;
  display: flex;
  align-items: center;
}

.editor {
  height: 20rem;
  width: 50rem;
  margin: 1rem;
  padding: 1rem;
}

.preview {
  background-color: #fff;
  border: 1px solid #333;
  height: 50rem;
  width: 50rem;
  margin: 1rem;
  padding: 1rem;
}
