// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// General styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #c1c2eb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Header
.header {
  margin: 2rem;
  height: 4rem;
  display: flex;
  align-items: center;
  text-align: center;

  font-family: 'Bebas Neue';
  font-size: 1.7rem;
}

// main

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0 3rem;
}

.winHeader {
  padding: 0.5rem;
  margin: 0 1rem;
  font-style: italic;
  text-align: left;
}

.window {
  width: 45vw;
  margin: 0 1rem 1rem;
  padding: 1.5rem;
}

.editor {
  font-family: 'Inconsolata';
  height: 80vh;
}

.editor:focus,
.editor:active {
  outline: none;
}

.preview {
  background-color: #fff;
  border: 1px solid #333;
  max-height: 80vh;
  flex: 1;
  align-self: stretch;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  resize: both;

  code {
    background-color: rgba(230, 230, 230, 0.9);
    padding: 0.5rem;
    margin: 0.25rem 0;
    display: inline-block;
  }

  ul li,
  ol li {
    list-style-position: inside;
  }

  img {
    width: 70%;
  }

  pre {
    white-space: pre-wrap;
  }

  pre code {
    padding: 1em;
    display: inline-block;
  }

  blockquote {
    padding: 0.5rem 1rem;
    border-left: 5px solid darkgreen;
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .header,
  .winHeader {
    font-size: 1rem;
  }

  .header {
    margin: 1rem;
  }

  .window {
    width: 90vw;
  }
}
